HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
Fargate/capstone/mvnw.cmd
Fargate/capstone/mvnw
Fargate/capstone/.mvn/
Laura_Fargate/capstone/mvnw
Laura_Fargate/capstone/mvnw.cmd
Laura_Fargate/capstone/.mvn/wrapper/maven-wrapper.properties
Laura_Fargate/consumer_lambda/mysql/connector/__pycache__/
Laura_Fargate/consumer_lambda/
Project_CloudFormation/Unzipped Code/consumption_lambda/__MACOSX/._lambda_function.py
Project_CloudFormation/Unzipped Code/consumption_lambda/__MACOSX/
